<domain type='kvm'>
  <name>{{ vmname }}</name>
  <memory unit='MiB'>{{ memory }}</memory>
  {% if vm.performance.vcpu_max is defined %}
  <vcpu placement='static' current='{{ vcpu }}'>{{ vm.performance.vcpu_max }}</vcpu>
  {% else %}
  <vcpu placement='static'>{{ vcpu }}</vcpu>
  {% endif %}

  {% if vm.performance.hugepages is defined and not vm.performance.hugepages %}
  {# Huge pages explicitly disabled #}
  {% else %}
  <memoryBacking>
    <hugepages/>
  </memoryBacking>
  {% endif %}

  <iothreads>{{ vm.performance.iothread_count | default(1) }}</iothreads>
  <os>
    <type arch='x86_64' machine='q35'>hvm</type>
    <boot dev='hd'/>
  </os>

  <devices>
    <emulator>/usr/libexec/qemu-kvm</emulator>

    <controller type='scsi' index='0' model='virtio-scsi'>
      <driver queues='{{ vcpu }}' iothread='1'/>
    </controller>

    {% set letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'] %}
    {% set iothread_count = vm.performance.iothread_count | default(1) %}
    {% for item in disks %}
    {% set target_prefix = 'vd' if item.disk.bus == 'virtio' else 'sd' %}
    {% set target_dev = target_prefix + letters[loop.index0] %}
    {% set iothread_id = ((loop.index0 % iothread_count) + 1) %}

    <disk type='{{ 'block' if item.disk.volume_mode == 'block' else 'file' }}' device='disk'>
      <driver name='qemu' type='raw' cache='none' io='native' discard='unmap'/>
      {% if item.disk.volume_mode == 'block' %}
      <source dev='/dev/{{ lvm_vg_block_name }}/{{ item.name }}'/>
      {% else %}
      <source file='{{ libvirt_pool_filesystem_path }}/{{ item.name }}.img'/>
      {% endif %}

      <target dev='{{ target_dev }}' bus='{{ item.disk.bus }}'/>
      {% if item.disk.bus == 'scsi' %}
      <address type='drive' controller='0' bus='0' target='0' unit='{{ loop.index0 }}'/>
      {% endif %}
    </disk>
    {% endfor %}

    <interface type='network'>
      <source network='{{ libvirt_network_name | default("libvirt_net1") }}'/>
      <mac address='{{ vm.network.mac }}'/>
      <model type='virtio'/>
      <driver name='vhost' queues='{{ vm.performance.network_queues | default(2) }}'/>
    </interface>

    <memballoon model='none'/>
  </devices>
</domain>
