[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = False
interpreter_python = auto_silent
roles_path = roles
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections
force_color = True
callbacks_enabled = ansible.posix.profile_tasks, community.general.timestamp

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
