# This is the AAP enterprise installer inventory file
# Please consult the docs if you're unsure what to add
# For all optional variables please consult the included README.md
# or the Red Hat documentation:
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.6/html/containerized_installation

# This section is for your AAP Gateway host(s)
# -----------------------------------------------------
[automationgateway]
{{AAP_HOSTNAME}}

# This section is for your AAP Controller host(s)
# -----------------------------------------------------
[automationcontroller]
{{AAP_HOSTNAME}}

# This section is for your AAP Execution host(s)
# -----------------------------------------------------
[execution_nodes]
{{AAP_HOSTNAME}} receptor_type='hop'

# This section is for your AAP Automation Hub host(s)
# -----------------------------------------------------
[automationhub]
{{AAP_HOSTNAME}}

# This section is for your AAP EDA Controller host(s)
# -----------------------------------------------------
[automationeda]
{{AAP_HOSTNAME}}

# This section is for your AAP Lightspeed host(s)
# -----------------------------------------------------
# [ansiblelightspeed]
# lightspeed1.example.org
# lightspeed2.example.org

# This section is for your Ansible MCP Server host(s)
# -----------------------------------------------------
# [ansiblemcp]
# mcpserver1.example.org

[redis]
{{AAP_HOSTNAME}}

[all:vars]

# Ansible
ansible_connection=local

redis_mode=standalone

# Common variables
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.6/html/containerized_installation/appendix-inventory-files-vars#general-variables
# -----------------------------------------------------
postgresql_admin_username=postgres
postgresql_admin_password={{ADMIN_PASS}}
bundle_install=true
# The bundle directory must include /bundle in the path
bundle_dir='{{ lookup("ansible.builtin.env", "PWD") }}/bundle'


# AAP Gateway
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.6/html/containerized_installation/appendix-inventory-files-vars#platform-gateway-variables
# -----------------------------------------------------
gateway_admin_password={{ADMIN_PASS}}
gateway_pg_host={{AAP_HOSTNAME}}
gateway_pg_password={{ADMIN_PASS}}

# AAP Controller
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.6/html/containerized_installation/appendix-inventory-files-vars#controller-variables
# -----------------------------------------------------
controller_admin_password={{ADMIN_PASS}}
controller_pg_host={{AAP_HOSTNAME}}
controller_pg_password={{ADMIN_PASS}}
controller_percent_memory_capacity=0.5

# AAP Automation Hub
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.6/html/containerized_installation/appendix-inventory-files-vars#hub-variables
# -----------------------------------------------------
hub_admin_password={{ADMIN_PASS}}
hub_pg_host={{AAP_HOSTNAME}}
hub_pg_password={{ADMIN_PASS}}
hub_seed_collections=false

# AAP EDA Controller
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.6/html/containerized_installation/appendix-inventory-files-vars#event-driven-ansible-variables
# -----------------------------------------------------
eda_admin_password={{ADMIN_PASS}}
eda_pg_host={{AAP_HOSTNAME}}
eda_pg_password={{ADMIN_PASS}}

# AAP Lightspeed
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.6/html/containerized_installation/appendix-inventory-files-vars#lightspeed-variables
# -----------------------------------------------------
# lightspeed_admin_password={{ADMIN_PASS}}
# lightspeed_pg_host=externaldb.example.org
# lightspeed_pg_password={{ADMIN_PASS}}

# In case chatbot is enabled, the default provider is "rhoai"
# lightspeed_chatbot_model_url=<set your own>
# lightspeed_chatbot_model_api_key=<set your own>
# lightspeed_chatbot_model_id=<set your own>

# In case "azure" provider
# lightspeed_chatbot_default_provider = "azure"

# In case "openai" provider
# lightspeed_chatbot_default_provider = "openai"

# lightspeed_mcp_controller_enabled=true
# lightspeed_mcp_lightspeed_enabled=true
# lightspeed_wca_model_api_key=<set your own>
# lightspeed_wca_model_id=<set your own>
